.wds-global-navigation-wrapper {
  display: none !important;
}

.featured-video__wrapper {
  display: none !important;
}

#mixed-content-footer {
  display: none !important;
}

.WikiaBarWrapper {
  display: none !important;
}

.wds-global-footer__header {
  display: none !important;
}

.wds-global-footer__main {
  display: none !important;
}

.wds-global-footer {
  margin-bottom: -30px !important;
  background-color: transparent !important;
}

.fandom-stories {
  display: none !important;
}

.exact-wiki-match {
  display: none !important;
}

@media only screen and (max-width: 1595px) {
  .collapseIfSmall {
    display: none !important;
  }
}

.top-ads-container,
.bottom-ads-container,
#top_boxad {
  display: none !important;
}

.global-navigation,
.global-navigation__bottom {
  position: fixed !important;
  top: 100vh !important;
}

.notifications > .wds-dropdown > .wds-dropdown__content {
  position: fixed !important;
  left: 0 !important;
  top: 0 !important;
  bottom: 0 !important;
  width: 200px !important;
}

.main-container {
  margin-left: 0 !important;
  width: 100% !important;
}

.fandom-sticky-header {
  left: 0 !important;
  right: 0 !important;
}

.wds-dropdown > .wds-button.wds-is-secondary.wds-dropdown__toggle {
  padding: 7px 5px !important;
}

.search-modal,
.search-modal::before {
  left: 0 !important;
}

[data-testid="ExitIntentEmailWrapper"],
.instant-suggestion {
  display: none !important;
}

#SurveyModule {
  display: none !important;
}

.fandom-community-header__background.fullScreen {
  width: 100% !important;
}

.marketing-notifications {
  display: none !important;
}
